.navbar {
    background-color: #fbfbfb;
    height: 61px;
    align-items: center;
    display: flex;
    padding: 0 20px 0 20px;
    p {
        font-weight: 600;
        font-size: 20px;
        color: #385A6D;
        line-height: 30px;
    }
}