.c-main-container {
    .card-container {
        padding: 10px;
        background-color: #FBFBFB;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 35px;
        min-height: 180px;
        height: auto;
    }
}